.loading {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.banner {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 5rem;
}

.post {
  padding-bottom: 4rem;

  h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--heading);
  }

  .postInfos {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    span {
      display: flex;
      align-items: center;
      color: var(--info);

      & + span {
        margin-left: 1.5rem;
      }

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  .changed {
    p {
      margin-top: 1rem;
      color: var(--info);
      font-size: 0.875rem;
    }
  }

  .postContent {
    padding: 2rem 0 0 0;
    line-height: 2rem;
    font-size: 1.125rem;

    h3 {
      font-size: 2.25rem;
      line-height: 3rem;
      font-weight: bold;
      color: var(--heading);
      margin: 3rem 0;
    }

    p, ul {
        margin: 1.5rem 0;
    }

    ul {
        padding-left: 1.5rem;

        li {
            margin: 0.5rem 0;
        }
    }

    code, pre {
      color: #ccc;
      background: rgba(40, 41, 54, 1) !important;
      border-radius: 0.5em;
      padding: 1em;
      margin: 0.5em 0;
      overflow: auto;
      height: auto;
      text-shadow: none;
      font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.8;
      font-size: 16px;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
    }
  }

  .navigation {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      h4 {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.375rem;
        letter-spacing: -0.5px;
        color: var(--heading);
        margin-bottom: 0.5rem;
      }

      a {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.187rem;
        letter-spacing: -0.5px;
        color: var(--highlight);
      }
    }

    & > span:first-child {
      text-align: left;
    }

    & > span:last-child {
      text-align: right;
    }
  }


  aside {
    margin-top: 6.25rem;

    a {
      width: 100%;
      display: block;
      padding: 1.125rem 0;
      font-size: 1.125rem;
      font-weight: 600;
      text-align: center;
      background: var(--heading);
      color: var(--bg);
      border-radius: 4px;
    }
  }
}
